<!doctype html>
<!--Declare my AngularJS application : Rgrid-->
<!--Use this directive to auto-bootstrap an application. Only one ngApp directive can be used per HTML document. The directive designates the root of the application and is typically placed at the root of the page.-->
<html lang="en" ng-app="Rgrid">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="Main.js"></script>
  <script src="Factories.js"></script>
  <script src="Providers.js"></script>
  <script src="Settings.js"></script>
  <script src="Welcome.js"></script>
  <title>TEMP</title>
</head>

<body>






  <nav class="navbar navbar-default" ng-controller="welcomeCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TEMP</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href={{sessionLink}}>Game
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="Settings">Settings</a>
          </li>
          <li>
            <a href="login">Login</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>



  <div ng-controller="Providers_Templates">
    <h4>Challenge</h4>
    Listen to the following sound and select if you wait the word "WORD" or not. If you hear the word please write the approximate
    timing of the word in the sentence (5 seconds before the word)

    <br>
    <br>

    <!--<button type="button" id="playzik" class="btn btn-primary" ng-click="SayWord()">-->
    <!--  ZIK-->
    <!--</button>-->

    <audio controls="controls" data-ng-src="{{_soundFile}}">
      <!--<source data-ng-src="{{_soundFile}}" type="audio/flac" /> Your browser does not support the audio element.-->
    </audio>

    <br>

    <label for="usr2">The word "WORD" is present in the audio file:</label>
    <button type="button" class="btn btn-primary" id="usr2" ng-model="_wordIsPresent" uib-btn-checkbox btn-checkbox-true=true
      btn-checkbox-false=false>
      {{_wordIsPresent}}
    </button>

    <br>

    <label for="wordTiming" ng-show="_wordIsPresent">If YES. Please Enter the timming (5s before word start):</label>
    <input type="text" class="form-control" id="wordTiming" ng-show="_wordIsPresent" ng-model="_wordTiming" value="_wordTiming" >

    <br>

    <label for="usr5">Click here to send your response:</label>
    <button id="usr5" type="button" ng-click="submitChallenge()" class="btn btn-primary">
      SAVE
    </button>


  </div>

</body>
</html>