<!doctype html>
<!--Declare my AngularJS application : Rgrid-->
<!--Use this directive to auto-bootstrap an application. Only one ngApp directive can be used per HTML document. The directive designates the root of the application and is typically placed at the root of the page.-->
<html lang="en" ng-app="Rgrid">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="Main.js"></script>
  <script src="Welcome.js"></script>
  <title>TEMP</title>
  <!-- for websocket. We use that rather than native WS for reconnection functionality and more offer by socketio-->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>


  <nav class="navbar navbar-default" ng-controller="welcomeCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TEMP</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href={{sessionLink}}>Game</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="Settings">Settings</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--Declare my AngularJS cobntroler inside my application-->
  <!--The ngController directive assigns behavior to a scope. This is a key aspect of how angular supports the principles behind the Model-View-Controller design pattern.-->
  <div>
    <h1>Audio Set creator for ML</h1>
    Can be use to create ML training set
    <br>
  </div>
</body>
</html>
